/**
 * Common Editor Styles
 */

@use 'variables' as v;

// Visual indicator in editor
@mixin editor-border {
  border: 1px dashed v.$border-color;
}

// Color picker section
@mixin color-picker-section {

  .apbl-color-picker-label-wrapper {
    margin-bottom: v.$spacing-lg;

    span {
      display: block;
      margin-bottom: v.$spacing-sm;
      font-weight: 500;
    }
  }
}

// Editor placeholder
@mixin editor-placeholder($min-height: 200px) {

  .components-placeholder {
    min-height: $min-height;

    &__fieldset {
      max-width: 100%;
    }
  }
}

// Author picker button in editor
@mixin author-picker-wrapper {

  .apbl-author-picker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .components-button {
      margin-top: 10px;
    }
  }
}

// Editor toolbar styles
@mixin editor-toolbar {

  .block-editor-block-toolbar {

    .components-toolbar-group,
    .components-toolbar {
      border-right-color: v.$border-color;
    }
  }
}

// Reset default WP list styles in editor
@mixin reset-list-styles {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}
