# Operating System Files
.DS_Store

# IDE/Editor Files
.idea/
.vscode/

# Logs and Temporary Files
logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn/*
.eslintcache
.stylelintcache

# Dependency Directories
node_modules/
vendor/*

# Build and Distribution Files
/build/
*.zip
*.tgz

# Translation Files
languages/*.mo
languages/*.json
languages/*.po~
languages/*.pot~

# Compilation Source Maps
*.css.map
*.js.map
.*.result.cache
