includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8

    paths:
        - includes

    bootstrapFiles:
        - vendor/autoload.php
        - author-profile-blocks.php

    excludePaths:
        - vendor/
        - node_modules/
        - build/

    ignoreErrors:
        - identifier: function.notFound
        - identifier: argument.templateType
        - identifier: missingType.iterableValue
        - identifier: method.unused

    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
