includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5

    paths:
        - wp-author-showcase.php
        - includes

    excludePaths:
        - vendor/
        - node_modules/
        - build/

    ignoreErrors:
        - identifier: class.notFound
        - identifier: missingType.generics
        - '#^Constant [A-Z_]+ not found\.#'
        - '#^Function [a-zA-Z0-9_]+ not found\.#'
        - '#^Class [a-zA-Z0-9_\\]+ not found\.#'

    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true

    bootstrapFiles:
        - vendor/autoload.php
