<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/php/phpunit-wp-config.php"/>
	</php>
	<testsuites>
		<testsuite name="Author Profile Blocks Test Suite">
			<directory prefix="" suffix=".php">./tests/php</directory>
			<exclude>./tests/php/phpunit-wp-config.php</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes/</directory>
		</include>
		<exclude>
			<directory>./includes/Core/</directory>
		</exclude>
	</coverage>
</phpunit>
