/**
 * The following styles get applied inside the editor only.
 */

.wp-block-author-profile-blocks-author-list {
    border: 1px dashed #ddd;

    .apb-color-picker-label-wrapper {
        margin-bottom: 16px;

        span {
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
        }
    }

    // Reset default WP list styles in editor
    .apb-author-list {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
    }

    // Placeholder styling
    .components-placeholder {
        min-height: 200px;

        &__fieldset {
            max-width: 100%;
        }
    }

    // Author picker button styling
    .apb-author-picker-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .components-button {
            margin-top: 10px;
        }
    }
}
